
.popbox {
  display:block;  
  margin:0px auto;
  text-align:center;
}

  .pop {}

  .collapse {
    position:absolute;
  }

  .box {
    display:block;
    display:none;
    background:#FFF;
    border:solid 1px #BBBBBB;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    position:relative;
  }

    .arrow {
    	width: 0;
    	height: 0;
    	border-left: 11px solid transparent;
    	border-right: 11px solid transparent;
    	border-bottom: 11px solid #FFF;
    	position:absolute;
    	left:1px;
    	top:-10px;
    	z-index:1001;
    }

    .arrow-border {
    	width: 0;
    	height: 0;
    	border-left: 11px solid transparent;
    	border-right: 11px solid transparent;
    	border-bottom: 11px solid #BBBBBB;
    	position:absolute;
    	top:-12px;
    }
